<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MyBleeds" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myBleeds"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".splashscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddBleedActivity" />
        <activity android:name=".LoginDoctorActivity" >
        </activity>
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".LogInActivity" >
        </activity>
        <activity android:name=".ViewMyPatients" />
        <activity android:name=".newPatientSettingsActivity" />
        <activity android:name=".AddDoctorActivity" />
        <activity android:name=".Patient_HomeActivity" />
        <activity android:name=".ViewSingleBleed" />
        <activity android:name=".PatientSettingsActivity" />
        <activity android:name=".ViewPatientBleeds" />
        <activity android:name=".ViewBleeds" />
        <activity android:name=".ViewSingleBleedPatient" />
        <activity android:name=".editBleeds" />
        <activity android:name=".ViewAllBleeds" />
        <activity android:name=".myHealthActivity" />
        <activity android:name=".ViewPatientHome" />
        <activity android:name=".ViewPatientHealth" />
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".welcomepage"></activity>
        <activity android:name=".ParentHome"></activity>
        <activity android:name=".ParentSignUp"></activity>
        <activity android:name=".ParentLogIn"></activity>
        <activity android:name=".ParentNewDetails"></activity>
        <activity android:name=".PatientAccountMenu"></activity>
        <activity android:name=".AddParent"></activity>
        <activity android:name=".ParentViewID"></activity>
        <activity android:name=".ParentSettingsHome"></activity>
        <activity android:name=".ParentViewChildren"></activity>
        <activity android:name=".ParentViewChildHome"></activity>
        <activity android:name=".ParentViewBleeds"></activity>

    </application>

</manifest>