<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MyBleeds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myBleeds"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.MyBleeds.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.MyBleeds.AddBleedActivity"></activity>
        <activity android:name="com.example.MyBleeds.LoginDoctorActivity"> </activity>
        <activity android:name=".DoctorHomeActivity"></activity>
        <activity android:name="com.example.MyBleeds.LogInActivity"> </activity>
        <activity android:name=".ViewMyPatients"></activity>
        <activity android:name=".ViewPatients"></activity>
        <activity android:name=".AddDoctorActivity"></activity>
        <activity android:name=".Patient_HomeActivity"></activity>
        <activity android:name=".PatientSettingsActivity"></activity>
        <activity android:name=".ViewPatientBleeds"></activity>
        <activity android:name=".ViewBleeds"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>